* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  color: white;
  font-weight: 700;
}

input {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

select {
  border-color: 1px solid white;
  background-color: transparent;

}

select option {
  background-color: #f6f6f6;
  color: black;
}


a:hover {
  text-decoration: underline;
}