* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  color: white;
}

input {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

a:hover {
  text-decoration: underline;
}